/* Global */
:root {
  --black: #05060f;
  --lighter-black: #111218;
  --light-grey: #d6d6d6;
  --highlight: #3823f8;
  --ease: cubic-bezier(0.2, 0.7, 0.05, 0.9);
}

body {
  background: var(--black);
  color: var(--light-grey);
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: small;
}

textarea:focus,
input:focus {
  outline: none;
}

.full-width {
  width: 100%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.center-x {
  margin: 0 auto;
}

.center-text {
  width: 100%;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: medium;
}

h2 {
  font-size: small;
  font-weight: 300;
}

h3 {
  font-size: x-small;
  font-weight: 300;
}

p {
  font-size: x-small;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#vue-instance {
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  overflow-x: hidden;
}

/** Chat Window **/
.chat-container {
  flex: 0 0 60%;
  word-wrap: break-word;
  padding: 1rem;
  padding-bottom: 5rem;
}

.chat-bg-cont{
  background: var(--lighter-black);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--light-grey);
}

.message>p {
  font-size: small;
}

.title-header>p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Info Panel */
.info-container {
  flex: 0 0 40%;
  padding: 1rem;
  padding-bottom: 2rem;

  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 50px;
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.info-bg-cont {
  background: var(--lighter-black);
  flex-grow: 1;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 100%;
  border-radius: 25px;
}

.divider {
  padding-top: 1px;
  max-height: 0px;
  min-width: 200%;
  background: var(--light-grey);
  margin: 12px -12px;
  flex: 1 0;
}

.notification-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 24px;
  flex: 1 0 40%;
}

.notification {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: small;
  padding: 4px 0;
  display: inline-flex;
}

.notification-timestamp {
  flex: 0 0 15%;
  font-weight: 600;
}

.notification-message {
  flex: 0 0 80%;
}

.notification:last-child {
  margin-bottom: 24px;
}

.keys {
  display: block;
  font-size: xx-small;
  overflow-x: hidden;
  overflow-y: visible;
}

.keys>.divider {
  width: 75%;
  min-width: 0;
  margin: 16px auto;
}

.key {
  overflow: visible;
}

.room-select {
  display: flex;
  min-height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  gap: 1rem;
}

#room-input {
  flex: 0 0 60%;
  background: #1d1d1d;
  border: none;
  color: var(--light-grey);
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 17px;
}

.yellow-button {
  flex: 0 0 30%;
  background: none;
  background: #1d1d1d;
  cursor: pointer;
  color: var(--light-grey);
  transform: translateY(0px);
  transition: all 0.3s cubic-bezier(0.2, 0.7, 0.05, 0.9);
  border-radius: 17px;
  outline: none;
  border: none;
}

.yellow-button:hover {
  background: var(--highlight);
  transform: translateY(-5px);
}

.yellow>a {
  color: var(--highlight);
}

.loader {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Message Input Bar */
.message-input {
  background: var(--lighter-black);
  border: none;
  color: var(--light-grey);
  width: 90%;
  padding-left: 1rem;
  border-radius: 17px;
  height: 100%;
}

.bottom-bar {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  height: 48px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.h-full{
  height: 100%;
}

.message-list {
  margin-bottom: 48px;
}